<div class="table-container">
   <table class="trestle-table">
      <thead>
         <tr>
            <th class="">
               <a class="sort" href="">
               ID
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
               User
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
               Message
               </a>
            </th>
            </th>
            <th class="text-center">
               <a class="sort" href="">
               Created at
               </a>
            </th>
            <th class="text-center">
               <a class="sort" href="">
               Updated at
               </a>
            </th>
            <th class="text-center"><a class="sort" href="">
              <%= t "users.index.updated_at" %></a></th>
            <th class="actions"></th>
         </tr>
      </thead>
      <tbody>
         <%= will_paginate %>
         <%= render @notifications %>
      </tbody>
   </table>
</div>
<style type="text/css">
   table {
   width: 100%;
   }
   th {
   height: 50px;
   }
</style>
