<li class="first">
  <span><%= match.team1.name %> <strong>-</strong> </span>
</li>
<li>
  <span><%= match.team2.name %></span>
</li>
<li class="detail">
  <span><%= link_to t("matches.match.detail"), match_path(match) %></span>
</li>
<style type="text/css">
  .team-btw-match{
    margin-top: 120px !important;
  }
</style>
